#!/bin/bash

#
# Automated Android Build Script - Simple and automated Android Build-Script
# Copyright (C) 2017  Lukas Berger
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

#
# @author       Lukas Berger
# @date         2017-05-25
# @version      1.0
#

#
# Absolute path to the root-directory of all ROM-sources
#
# @default  "/home"
#
AABS_SOURCE_BASE="/home"

#
# Concurrent jobs used to sync the sources
#
# @default  4
#
AABS_SYNC_JOBS=4

#
# Concurrent jobs used to build the ROMs
#
# @default       16
# @recommended   Number of CPU-cores * 4; should not be more than GB RAM available
#
AABS_BUILD_JOBS=16

#
# Indicates if "make clobber" should be launched before
# starting to build the ROM
#
AABS_BUILD_CLOBBER="true"

#
# Used string to identify and gather finished build
#
AABS_BUILD_OUTPUT_MATCH="lineage_*.zip"

#
# Indicates if patches should be created incremental,
# e.g. required to support block-based builds
#
AABS_BUILD_INCREMENTAL_PATCHES="true"

#
# Automatic SFTP build-upload: Indicates if automatic
# build-uploads should be enabled ("true" to enable, everything else to disable)
#
AABS_UPLOAD="false"

#
# Automatic SFTP build-upload: Host of the remote-server
#
AABS_UPLOAD_HOST="srv.example.com"

#
# Automatic SFTP build-upload: Port of the remote-server
#
AABS_UPLOAD_PORT=22

#
# Automatic SFTP build-upload: Username to access the remote-server
#
AABS_UPLOAD_USER="root"

#
# Automatic SFTP build-upload: Password to access the remote-server
#
AABS_UPLOAD_PASS="MySecretPassword"

#
# Absolute path to directory in which all builds should be
# uploaded to
#
AABS_UPLOAD_BASEDIR="/var/www/html/builds"

#
# Informations and required configurations for creating incremental patches
#
declare -A AABS_INCREMENTAL_OPTIONS=(
    [zerofltexx]='(
        [boot-blkdev]="/dev/block/platform/15570000.ufs/by-name/BOOT"
        [system-blkdev]="/dev/block/platform/15570000.ufs/by-name/SYSTEM"
        [system-fs]="ext4"
        [system-type]="EMMC"
        [system-mntpnt]="/system"
        [system-mntopt]="max_batch_time=0,commit=1,data=ordered,barrier=1,errors=panic,nodelalloc"
    )'
)
